<div class="row">
    <div class="col-8 offset-2">
        {{ range $k, $v := .errors.default }}
        <div style="color:red;">{{ $v }}</div>
    {{ end }}
    <form action="{{ urlfor `PrometheusAgentController.Modify` }}" method="POST">
        <input type="hidden" name="id" value="{{ .form.Id }}" />
        <div class="form-group row">
            <label class="col-form-label col-2">配置: </label>
            <div class="col-10">
                <textarea class="form-control {{ if .errors.config }}is-invalid{{ end }}" name="config" id="config">{{ .form.Config }}</textarea>
                {{ range $k, $v := .errors.config }}
                    <div class="invalid-feedback">{{ $v }}</div>
                {{ end }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-12">
                <input type="submit" class="btn btn-primary float-right" value="修改" />
            </div>
        </div>
    </form>
</div>
</div>