
            <div class="row mb-2">
                <div class="col-1">
                    <a href="/user/add/" class="btn btn-sm btn-primary">新增</a>
                </div>

                <div class="col">
                    <form class="form-inline float-right" action="/user/query/">
                        <label for="" class="sr-only">查询关键字</label>
                        <input class="form-control form-control-sm mr-2" type="text" name="q" placeholder="关键字">
                        <input type="submit" class="btn btn-sm btn-info" value="查询">
                    </form>
                </div>
            </div>

            <table class="table table-sm table-borderless table-hover">
                <thead class="table-primary">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>性别</th>
                        <th>生日</th>
                        <th>手机</th>
                        <th>邮箱</th>
                        <th>地址</th>
                        <th>用户描述</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Users }}
                    <tr>
                        <td>{{ .Id }}</td>
                        <td>{{ .Name }}</td>
                        <!--在模板中调用结构体方法-->
                        <td>{{ .SetText }}</td>
                        <td>{{ .GetBirthday }}</td>
                        <td>{{ .Telephone }}</td>
                        <td>{{ .Email }}</td>
                        <td>{{ .Addr }}</td>
                        <td>{{ .Description }}</td>
                        <td>
                            <a class="btn btn-sm btn-warning" href="/user/edit/?id={{ .Id }}">编辑</a>
                            {{ if ne $.CurrentUser.Id .Id }}
                            <a class="btn btn-sm btn-danger" href="/user/delete/?id={{ .Id }}">删除</a>
                            {{ end }}
                        </td>
                    </tr>
                    {{ else }}
                    <tr>
                        <td colspan="9">暂无数据</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
