<!DOCTYPE html>
<html lang="en">
{{ template "header.html" "修改密码"}}
<body>
    {{ template "menu.html" .Current}}
    <form id="changepassword" method="POST" onsubmit="return foo();">
        {{ if .Err }}
        <span style="color: red;">{{.Err}}</span>
        {{ end }}
        <div>
            <span>原密码:</span>
            <input type="password" name="oldpassword" required>
        </div>
        <div>
            <span>新密码:</span>
            <input type="password" name="newpassword" required>
        </div>
        <span id="pwdmsg" style="color: red;"></span>
        <div>
            <span>确认密码:</span>
            <input type="password" name="confirmpassword" required>
        </div>
        <div>
            <button type="submit">提交</button>
        </div>
    </form>
    <script>
        function foo() {
            // e.preventDefault();
            const form = document.getElementById("changepassword");
            const msg = document.getElementById("pwdmsg");
            if (form["newpassword"].value.length == 0 || form["newpassword"].value !== form["confirmpassword"].value) {
                msg.innerHTML = "两次输入的密码不一致"
                return false;
            }
            msg.innerHTML = ""
            form.submit();
            return true;
        }

    </script>
</body>
</html>