<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>user add</title>
    </head>
    <body>
        {{ template "header.html" . }}
        <form action="/user/add/" method="POST">
            <div>
                <label>用户名</label>
                <input type="text" name="username">
            </div>
            <div>
                <label>性别</label>
                <input type="radio" name="sex" value="1" checked="">男
                <input type="radio" name="sex" value="0">女
            </div>
            <div>
                <label>生日</label>
                <input type="date" name="birthday">
            </div>
            <div>
                <label>手机</label>
                <input type="tel" name="tel">
            </div>
            <div>
                <label>邮箱</label>
                <input type="email" name="email">
            </div>
            <div>
                <label>地址</label>
                <input type="text" name="addr">
            </div>
            <div>
                <label>角色</label>
                <select name="roleid">
                    {{ range .Roles }}
                    <option value="{{ .Id }}">{{ .Name }}</option>
                    {{ else }}
                    <option value="4">测试</option>
                    {{ end }}
                </select>
            </div>
            
            <div>
                <label>密码</label>
                <input type="password" name="password">
            </div>
            <div>
                <label>确认密码</label>
                <input type="password" name="confirmpw">
            </div>
            <div>
                <label style="padding-bottom: 20px;">用户描述</label>
                <textarea name="description" cols="30" rows="5" maxlength="100" placeholder="用户描述信息"></textarea>
            </div>
            {{ if ne .ErrMsg "" }}
            <div style="color: red;">
                {{ .ErrMsg }}
            </div>
            {{ end }}

            <div>
                <input type="submit" value="提交">
            </div>
        </form>
    </body>
</html>
