<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>department list</title>
    </head>
    <body>
        {{ template "header.html" . }}
        <div>
            <a href="/dp/add/">添加部门</a>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>部门名称</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range .Departments }}
                    <tr>
                        <td>{{ .Id }}</td>
                        <td>{{ .Name }}</td>
                        <td>
                            <a href="/dp/edit/?id={{ .Id }}">编辑</a>
                            <a href="/dp/delete/?id={{ .Id }}">删除</a>
                        </td>
                    </tr>
                    {{ else }}
                    <tr>
                        <td colspan="3">暂无数据</td>
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </body>
</html>
