<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>用户列表</title>
    </head>
    <body>
        {{ template "header/header.html" .CurrentUser }}
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
     
                {{ range .Users }}
                <tr>
                    <td>{{ .Id }}</td>
                    <td>{{ .Name }}</td>
                    <td>
                        <a href="{{ urlfor `UserController.Add`}}">添加</a>
                        {{ if eq $.CurrentUser.Id .Id }}
                        <a href="{{ urlfor `UserController.Modify`}}?id={{ .Id }}">修改</a>
                        {{ end }}
                        <a href="{{ urlfor `UserController.Datil`}}?id={{ .Id }}">查询</a>
                        {{ if ne $.CurrentUser.Id .Id }}
                        <a href="{{ urlfor `UserController.Delete`}}?id={{ .Id }}">删除</a>
                        {{ end }}
                    </td>
                    {{ else }}
                    <td>暂无数据</td>   
                </tr>
                {{ end }}
        </tbody>
        </table>
    </body>
</html>