<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>修改密码</title>
    </head>
    <body>
        {{ template "base/header.html" . }}
        {{ range $k, $v := .errors.default }}
            <div style="color:red;">{{ $v }}</div>
        {{ end }}
        {{ if .success }}
            <div style="color:green;">{{ .success }}</div>
        {{ end }}
        <form action="{{ urlfor `UserController.ModifyPassword` }}" method="POST">
            <div>
                <label>原密码: </label>
                <input type="password" name="password" placeholder="密码" />
                {{ range $k, $v := .errors.password }}
                    <span style="color:red;">{{ $v }}</span>
                {{ end }}
            </div>
            <div>
                <label>新密码: </label>
                <input type="password" name="new_password" placeholder="密码" />
                {{ range $k, $v := .errors.new_password }}
                    <span style="color:red;">{{ $v }}</span>
                {{ end }}
            </div>
            <div>
                <label>确认新密码: </label>
                <input type="password" name="new_password2" placeholder="确认密码"  />
                {{ range $k, $v := .errors.new_password2 }}
                    <span style="color:red;">{{ $v }}</span>
                {{ end }}
            </div>

            <div>
                <input type="submit" value="修改密码" />
            </div>
        </form>
    </body>
</html>