<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>department edit</title>
    </head>
    <body>
        {{ template "header.html" . }}
        <form action="/asset/edit/" method="POST">
        <div>
            <input type="text" name="aid" value="{{ .Asset.Id }}" hidden="">
        </div>
        <div>
            <label>IP</label>
            <input type="text" name="ip" value="{{ .Asset.Ip }}">
        </div>
        <div>
            <label>位置</label>
            <input type="text" name="addr" value="{{ .Asset.Addr }}">
        </div>

        {{ if ne .ErrMsg "" }}
        <div style="color: red;">
            {{ .ErrMsg }}
        </div>
        {{ end }}

        <div>
            <input type="submit" value="保存">
        </div>
        </form>
    </body>
</html>
