<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
</head>
<body>
    <div>
        <form method="POST">
            {{ if ne .Err "" }}
            <div style="color: red;">{{.Err}}</div>
            {{ end }}
            <div>
                <span>用户名: </span>
                <input type="text" name="username" value="{{.Name}}">
            </div>
            <div>
                <span>密码:</span>
                <input type="password" name="password">
            </div>
            <button type="submit">登录</button>
        </form>
    </div>
</body>
</html>